<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Oakmaster</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap" rel="stylesheet"   >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{
            /* background: blue; */
            font-family: 'Open Sans', sans-serif;
        }
        .hor-row{
            width: 100%;
            text-align: center;
            float: left;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            text-align: center;
        }
        .container-main{
            width: 100%;
            float: none;
            margin: auto;
            max-width: 1000px;
            padding: 50px 20px 60px;
        }
        .header-container{
            grid-template-columns: 280px auto;
            display: grid;
        }
        .logo-container img{
            width: calc(100% - 50px);
            float: left;
            margin: -10px 0 0 20px;
        }
        h2{
            text-align: right!important;
            font-size: 40px!important;
            padding-right: 10px!important;
            color: red;
    
        }
        .content-main{
            display: grid;
            grid-template-columns: auto 360px;
            grid-gap: 0px;
            margin: 60px 0 0;
        }
        .right-side-content{
            padding-left: 30px;
        }
        .image-container img{
            width: 100%;
            margin: 30px 0 0;
        }
        h3{
            text-align: left!important;
            margin: 10px 0!important;
            font-size: 16px!important;
        }
        .value-container{
            font-size: 13px;
            text-align: left;
            margin: 3px 0;
            font-weight: 550;
        }
        .total-value-container{
            margin: 50px 0 0;
            text-align: right;
            font-size: 30px;
            font-weight: bold;
    
        }
        .total-label{
            margin-right: 5px;
            font-size: 14px;
        }
        .price-note-text{
            text-align: right;
            font-size: 13px;
        }
        .talk-to-us-content{
            text-align: left;
            padding-left: 30px;
            color: red;
            font-size: 14px;
            font-weight: 555;
            margin-top: 50px;
        }
    
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap" rel="stylesheet">
  </head>
  
<body class="hor-row">
    <div class="hor-row container-main">
        <div class="hor-row header-container">
            <div class="hor-row logo-container">
                <img src="{{ oakmasterLogo }}" alt = 'logo' />
            </div>
            <h2 class="hor-row">Quotaion Summary </h2>
        </div>
        
        <div class="hor-row">
            <div class="hor-row content-main">
                <div class="right-side-content">
                    <!-- <h3 class="hor-row">
                        DESIGN YOUR OWN OAK FRAMED GARAGE
                    </h3> -->

                    <div class="hor-row value-container">
                        NUMBER OF BAYS: 3
                    </div>
                    <div class="hor-row value-container">
                        ROOF PITCH: 35DEG
                    </div>
                    <div class="hor-row value-container">
                        WALL CLADING MATERIAL: SOFTWOOD
                    </div>
                    <div class="hor-row value-container">
                        LEFT ROOF TYPE: FULL-HIP
                    </div>
                    <div class="hor-row value-container">
                        RIGHT ROOF TYPE: FULL-HIP
                    </div>
                    <div class="hor-row value-container">
                        LEFT LOG STORE: YES
                    </div>
                    <div class="hor-row value-container">
                        RIGHT LOG STORE
                    </div>
                    <div class="hor-row value-container">
                        PARTITION 1: YES
                    </div>
                    <div class="hor-row value-container">
                        PARTITION 2: YES
                    </div>
                    <div class="hor-row value-container">
                        DOOR MATERIAL: SOFTWOOD
                    </div>
                    <div class="hor-row value-container">
                        DOOR 1: YES
                    </div>
                    <div class="hor-row value-container">
                        DOOR 2 YES
                    </div>
                    <div class="hor-row value-container">
                        DOOR 3: YES
                    </div>
                    <div class="hor-row value-container">
                        DOOR 4: YES
                    </div>
                    <div class="hor-row value-container">
                        GARAGE LENGTH: 874
                    </div>
                    <div class="hor-row value-container">
                        GARAGE WIDTH: 647
                    </div>
                    <div class="hor-row value-container">
                        GARAGE HEIGHT: 3843
                    </div>
                    <div class="hor-row value-container">
                        LOG LENGTH: 3483
                    </div>
                    <div class="hor-row value-container">
                        LOG WIDTH: 3487
                    </div>

                    <!-- <div class="hor-row total-value-container">
                        <span class="total-label">Total:</span>
                        €8748300
                    </div>
                    <div class="hor-row price-note-text">
                    <i> (Prices do not includes shopping rates)</i>
                    </div> -->
                </div>
                <div class="image-container">
                    <img src="{{ sampleImage }}"/>
                </div>
            </div>
            <!-- <div class="hor-row "> -->
            <div class="hor-row total-value-container">
                <span class="total-label">NAT:</span>
                €8748300

                <br/>
                <span class="total-label">VAT:</span>
                €8748300
                <br/>

                <span class="total-label">GROSS:</span>
                €8748300
                <br/>

            </div>
            <div class="hor-row price-note-text">
                <i> (Prices do not includes shopping rates)</i>
            </div>
            <!-- </div> -->
            <div class="hor-row talk-to-us-content">
                Please call or email if you would like to discuss
                <br/> before placing an order : 01 444 44 00 11
                <br/>
                oak@oak-beams.com
            </div>

        </div>
    </div>


</body>
</html>
